<div id="tos" class="padding-1 alert modifier-class is-active alert-yellow text-center padding-right-1">
  Usamos "cookies" de terceros para recopilar
  información que nos ayude a mejorar esta página, si cierras este
  mensaje entenderemos que aceptas
  <a href="#" class="js-modal-toggle" data-modal="tos">
    nuestra política de privacidad
  </a>
  <span class="icon-ui-close" aria-label="close icon"></span>
</div>


<div class="js-modal modal-overlay modifier-class" data-modal="tos">
  <div class="modal-content column-12" role="dialog" aria-labelledby="modal" role="dialog">
    <a class="js-modal-toggle icon-ui-close icon-flush font-size-1 right" href="#" aria-label="close-modal" ></a>
    <h3 class='trailer-half'>Política de privacidad</h3>
    <p>ESRI ESPAÑA SOLUCIONES GEOESPACIALES, S.L. (en adelante, Esri), con C.I.F. número: B-86900057, y domicilio social en C/ Emilio Muñoz 35/37 28037 (Madrid), debidamente inscrita en el Registro Mercantil de Madrid, titular del sitio web www.esri.es, expone en esta sección la Política de Privacidad corporativa sobre la información de carácter personal que el usuario puede facilitar cuando visite nuestro Web site. El objetivo de Esri es proteger la información en Internet, del mismo modo que es protegida por la empresa en los demás medios. La Política de Privacidad de Esri está presidida por el cumplimiento de la legislación vigente en materia de protección de datos de carácter personal y la Ley de Servicios de la Sociedad de la Información y Comercio Electrónico.</p>

    <h4>1. Uso y tratamiento de datos de carácter personal</h4>
    <p>
      En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (en adelante, LOPD), Esri le informa de que los datos de carácter personal por Vd. proporcionados, así como aquellos datos a los que se pueda acceder como consecuencia de su navegación, serán incorporados a los ficheros automatizados de la entidad, pudiendo ejercitar su derecho de acceso, rectificación, cancelación y oposición al tratamiento de sus datos en los términos y condiciones previstos más abajo, en el apartado 2º. En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, (en adelante LSSICE), Esri no enviará por correo electrónico comunicaciones publicitarias que no hayan sido autorizadas por los usuarios. Esri identificará mediante la palabra publicidad aquellos correos o Newsletters que contengan comunicaciones comerciales o promociones, exclusivamente.
    </p>
    <p>
      En aquellos casos donde sea necesario cumplimentar un formulario (inscripción a seminarios o eventos), o remitir un correo electrónico (contacta: informacion@esri.es Empleo: rrhh@esri.es) y hacer click en el botón de enviar, su realización implicará necesariamente que haya sido informado (en virtud del artículo 5 LOPD) y, en su caso, ha otorgado el correspondiente consentimiento (a tenor del artículo 6 LOPD) al contenido de la presente política de privacidad.
    </p>
    <p>
      Por otra parte, mediante el registro de los datos, el usuario otorga su consentimiento al tratamiento de los mismos con las finalidades en cada caso señaladas.
    </p>
    <p>
      Así, siempre que ESri le solicite datos de carácter personal, incluirá el correspondiente clausulado legal y un enlace (link) vinculado a la presente Política con el propósito de hacerle partícipe de sus derechos y obligaciones establecidos en la LOPD y LSSIC.
    </p>

    <h4>2. Ejercicio de derechos: acceso, rectificación cancelación y oposición</h4>
    <p>
      Aquellas personas físicas que hayan facilitado sus datos a Esri podrán dirigirse a la misma, en su calidad de Responsable del fichero, con el fin de poder ejercitar gratuitamente sus derechos de acceso, rectificación, cancelación y oposición respecto de los datos incorporados en sus ficheros. Dado el carácter confidencial de la información, Vd. no podrá ejercitar sus derechos telefónicamente, debido a que este medio no permite acreditar su identidad como titular de los datos registrados. El interesado podrá ejercitar sus derechos mediante comunicación por escrito dirigida a Esri en la siguiente dirección: ATT: Responsable LOPD. C/ Emilio Muñoz 35  28037 (Madrid), con la siguiente referencia en su carta: Ejercicio de derechos (junto a su solicitud escrita y firmada, deberá acreditar su personalidad aportando fotocopia de su D.N.I.).
    </p>

    <h4>3. Menores de edad</h4>
    <p>
      La presente página web de Esri no se dirige a menores de edad. No obstante, Esri se exime de cualquier responsabilidad por el incumplimiento de este requisito.
    </p>

    <h4>4. Modificación de la política de privacidad</h4>
    <p>
      Esri se reserva el derecho a modificar su Política de Privacidad, de acuerdo a su propio criterio, o motivado por un cambio doctrinal de la Agencia Española de Protección de Datos, legislativo o jurisprudencial. Cualquier modificación de la Política de Privacidad será publicada al menos diez días antes de su efectiva aplicación. El uso del Web después de dichos cambios implicará la expresa aceptación de éstos.
    </p>
    <button class="btn btn-clear js-modal-toggle right">Cerrar</button>
  </div>
</div>
